<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="comp_netwrks_course_work.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <comp_netwrks_course_work.Properties.Settings>
            <setting name="currentTheme" serializeAs="String">
                <value>Themes/DarkTheme.xaml</value>
            </setting>
            <setting name="randomWeights" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Weights" serializeAs="String">
                <value>2 3 6 9 12 14 16 18 20 21</value>
            </setting>
            <setting name="Connections" serializeAs="String">
                <value>d h d h d h d h d h d h d h s s</value>
            </setting>
            <setting name="ConnectionType" serializeAs="String">
                <value>Custom</value>
            </setting>
            <setting name="MinSatelliteCount" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="NodeCount" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="AVGCon" serializeAs="String">
                <value>3</value>
            </setting>
        </comp_netwrks_course_work.Properties.Settings>
    </userSettings>
</configuration>